:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  /* min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* .container {
  display: flex;
  flex-basis: 20rem;
  flex-wrap: wrap;
} */

fieldset {
  border-radius: 1em;
}

div.react-colorful {
  width: 255px;
  height: 255px;
}
