:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.main {
  display: flex;
}

fieldset {
  flex: 1;
  border-radius: 1em;
  background-color: #282c34;
  border: 4px solid #e6e1dd;
  padding: 10px 20px;
  /* margin: 0 5px; */
  -webkit-box-shadow: 0px -3px 16px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px -3px 16px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px -3px 16px 3px rgba(0, 0, 0, 0.4);
}

.controllers {
  color: white;
  text-align: center;
  padding: 15px 30px;
  height: min-content;
}

.generatedCode legend {
  text-align: center;
}

.line {
  background-color: #e6e1dd;
  width: 30px;
  height: 2px;
  display: inline-block;
  margin: 2px;
}

.title {
  background-color: #c76772;
  border-radius: 5px;
  padding: 2px 15px;
  display: inline-block;
  margin: 6px auto;
  align-content: baseline;
}

/* .colors input {
  width: 95%;
  height: 25px;
  background-color: #424855;
  color: white;
  border: 1px solid #ede9e3;
  border-radius: 5px;
  margin: 10px 0;
} */

.colors input:focus {
  outline: none;
}

legend {
  background-color: #5b6577;
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
  user-select: none;
}

div.react-colorful {
  width: 150px;
  height: 150px;
}
