:root {
  --color-animatation-0: rgb(108, 136, 139);
  --color-animatation-33: rgba(127, 155, 158, 0.5);
  --color-animatation-66: rgba(165, 196, 199, 0.5);
  --color-animatation-100: rgba(212, 241, 244, 0.5);
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #7a9ada; /* Green */
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.activeButton {
  background-color: #b4cdff; /* Green */
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  animation: glowing-shadow 1s ease infinite alternate;
}

@keyframes glowing-shadow {
  0% {
    box-shadow: 0px 0px 6px 3px var(--color-animatation-0);
  }
  33% {
    box-shadow: 0px 0px 6px 3px var(--color-animatation-0),
      0px 0px 6px 6px var(--color-animatation-33);
  }
  66% {
    box-shadow: 0px 0px 6px 3px var(--color-animatation-0),
      0px 0px 6px 6px var(--color-animatation-33),
      0px 0px 6px 9px var(--color-animatation-66);
  }
  100% {
    box-shadow: 0px 0px 6px 3px var(--color-animatation-0),
      0px 0px 6px 6px var(--color-animatation-33),
      0px 0px 6px 9px var(--color-animatation-66),
      0px 0px 6px 12px var(--color-animatation-100);
  }
}
