.container {
  display: flex;
  justify-content: space-between;
  /* background-image: url("../assets/bitmap.png");
  background-repeat: no-repeat;
  background-position: bottom right; */
  padding: 5px;
}

.rangeSliders {
  width: 40%;
}
